<h1><%= @user.username %>'s Reviews</h1>
<h4><a href="<%=@user.id%>/edit">Edit your profile</h4></a>


<h2>You have <%= @user.reviews.size %> Book(s) logged!</h2>

<h3>Review(s):</h3>
  <% @user.reviews.each do |review| %>
    <h4><a href="/reviews/<%= review.id %>"> <%= review.title %></h4></a>
  <% end %>

<br>
