<h1>Book Nook</h1>

<% @reviews.each do |review| %>
 
    <p>Created by: <%= reviews.user.username %> <a href="/reviews/<%= reviews.id %>/edit</a> </p>
    <p>Title of Book: <%= review.review.title %></p> 
    <p>Author of Book: <%= reviews.review.author %></p>
    <p>Review Comments: <%= reviews.review_comments %></p>
  
<% end %>